/********** Template CSS **********/
:root {
    /*--primary: #B78D65;*/
    --primary: #d26900;
    --light: #f8f8f8;
    --dark: #252525;
}

h1,
h2,
.h1,
.h2,
.fw-bold {
    font-weight: 600 !important;
}

h3,
h4,
.h3,
.h4,
.fw-medium {
    font-weight: 500 !important;
}

h5,
h6,
.h5,
.h6,
.fw-normal {
    font-weight: 400 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #ffffff;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-outline-body {
    color: var(--primary);
    border-color: #777777;
}

.btn-outline-body:hover {
    color: #ffffff;
    background: var(--primary);
    border-color: var(--primary);
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 30px 0;
    color: var(--dark);
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar.sticky-top {
    top: -100px;
    transition: 0.5s;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #eeeeee;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }
}

/*** Header ***/
.owl-carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
    }
}

.header-carousel .owl-dots {
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dots .owl-dot {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 5px 0;
    background: var(--dark);
    transition: 0.5s;
}

.header-carousel .owl-dots .owl-dot.active {
    width: 60px;
    height: 60px;
}

.header-carousel .owl-dots .owl-dot img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    transition: 0.5s;
    opacity: 0.3;
}

.header-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

/*** Section Title ***/
.section-title {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/*** Facts ***/
.fact-item .fact-icon {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 120px;
    transition: 0.5s;
}

.fact-item:hover .fact-icon {
    background: var(--dark);
}

.fact-item .fact-icon i {
    color: var(--primary);
    transition: 0.5;
}

.fact-item:hover .fact-icon i {
    color: #ffffff;
}

/*** About & Feature ***/
.about-img,
.feature-img {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.about-img img,
.feature-img img {
    position: absolute;
    width: 60%;
    height: 80%;
    object-fit: cover;
}

.about-img img:last-child,
.feature-img img:last-child {
    margin: 20% 0 0 40%;
}

.about-img::before,
.feature-img::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 5px solid var(--primary);
    z-index: -1;
}

/*** Service ***/
.service-item .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.service-item .service-text {
    background: var(--light);
    transition: 0.5s;
}

.service-item:hover .service-text {
    background: rgba(0, 0, 0, 0.7);
}

.service-item * {
    transition: 0.5;
}

.service-item:hover * {
    color: #ffffff;
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    background: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.5s;
}

.service-item:hover .btn {
    width: 140px;
}

/*** Project ***/
.project .nav .nav-link {
    background: var(--light);
    transition: 0.5s;
}

.project .nav .nav-link.active {
    background: var(--primary);
}

.project .nav .nav-link.active h3 {
    color: #ffffff !important;
}

/*** Team ***/
.team-items {
    margin: -0.75rem;
}

.team-item {
    padding: 0.75rem;
}

.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #ffffff;
    transition: 0.5s;
    z-index: -1;
}

.team-item:hover::after {
    height: 100%;
    background: var(--primary);
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
}

.team-item .team-social .btn {
    display: inline-flex;
    margin: 0 2px;
    color: var(--primary);
    background: var(--light);
}

.team-item .team-social .btn:hover {
    color: #ffffff;
    background: var(--primary);
}

/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}

/*** Testimonial ***/
.testimonial-carousel {
    display: flex !important;
    flex-direction: column-reverse;
    max-width: 700px;
    margin: 0 auto;
}

.testimonial-carousel .owl-dots {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.testimonial-carousel .owl-dots .owl-dot {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-dots .owl-dot::after {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    background: #ffffff;
    border-radius: 40px;
    transition: 0.5s;
    opacity: 0;
}

.testimonial-carousel .owl-dots .owl-dot.active::after {
    opacity: 1;
}

.testimonial-carousel .owl-dots .owl-dot img {
    opacity: 0.4;
    transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}

/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #777777;
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: #777777;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}

/*******************************************My Custom CSS********************************************/
:root {
    --primary-custom: #e77d14;
    --light: #f8f8f8;
    --dark: #252525;
}

.text-primary {
    color: #e77d14 !important;
}

.btn-primary {
    color: #000;
    background-color: #e77d14;
    border-color: #e77d14;
}

.navbar .navbar-nav .nav-link.active {
    color: var(--primary-custom);
}

/*--------- Start Filter Bar -----------/*/

.sorting {
    margin-top: 10px;
    margin-right: 10px;
    .nice-select {
        border-radius: 0px;
        border: 1px solid #eee;
        padding-right: 50px;
        &:after {
            right: 18px;
        }
        .list {
            border-radius: 0px;
        }
    }
}

/*--------- End Filter Bar -----------/*/
.single-product {
    margin-bottom: 50px;
}

.single-product .product-details h6 .myH6 {
    font-size: 16px !important;
    text-transform: uppercase !important;
}

.category-list .single-product {
    margin-top: 30px;
}
.single-product {
    margin-bottom: 50px;
}

.sidebar-categories .main-categories {
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1);
}

.main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
}
ul {
    list-style: none;
}

.sidebar-categories .head {
    line-height: 60px;
    background: var(--primary);
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

h6 {
    font-family: "Roboto", serif;
}

.single-product {
    margin-bottom: 50px;
}

.single-product img {
    margin-bottom: 20px;
    width: 100%;
}

.product-details {
    h6 {
        font-size: 16px;
        text-transform: uppercase;
    }
    .price {
        h6 {
            font-size: 14px;
            display: inline-block;
            padding-right: 15px;
            margin: 0;
        }
        .l-through {
            text-decoration: line-through;
            color: #cccccc;
            margin-bottom: 0;
        }
    }

    .prd-bottom {
        position: relative;
        margin-top: 20px;
        .social-info {
            position: relative;
            display: inline-block;
            width: 35px;
            @include transition();
            overflow: hidden;
            span {
                position: relative;
                height: 30px;
                width: 30px;
                line-height: 30px;
                text-align: center;
                background: #828bb2;
                border-radius: 50%;
                display: inline-block;
                color: #fff;
                @include transition();
                z-index: 1;
                &:after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    content: "";
                    @extend .gradient-bg;
                    border-radius: 50%;
                    opacity: 0;
                    visibility: hidden;
                    z-index: -1;
                }
            }
            .hover-text {
                position: absolute;
                left: 0;
                top: 3px;
                width: 100px;
                left: -40px;
                text-transform: uppercase;
                font-family: $title-font;
                font-weight: 500;
                font-size: 12px;
                color: $title-color;
                @include transition();
                opacity: 0;
                visibility: hidden;
            }
            &:hover {
                width: 115px;
                span {
                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .hover-text {
                    opacity: 1;
                    visibility: visible;
                    left: 40px;
                }
            }
        }
    }
}

.s_product_text {
    margin-left: -15px;
    margin-top: 65px;
}
.product_description_area {
    padding-bottom: 120px;
    margin-top: 60px;
}

.product_description_area .nav.nav-tabs {
    background: #e8f0f2;
    text-align: center;
    display: block;
    border: none;
    padding: 10px 0px;
}

.product_description_area .nav.nav-tabs li {
    display: inline-block;
    margin-right: 7px;
}

.product_description_area .nav.nav-tabs li a {
    padding: 0px;
    border: none;
    line-height: 38px;
    background: #fff;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    padding: 0px 30px;
    color: #555555;
    font-size: 13px;
    font-weight: normal;
}

/* @media (max-width: 570px) {
    padding: 0 15px;
}
&.active{
    @extend .gradient-bg;
    color: #fff;
    border: 1px solid transparent;
} */

.product_count {
    display: inline-block;
    position: relative;
    margin-bottom: 24px;
}

.product_count input {
    width: 76px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding-left: 10px;
}

.card_area .primary-btn {
    line-height: 38px;
    padding: 0px 38px;
    text-transform: uppercase;
    margin-right: 10px;
    border-radius: 5px;
}

.card_area .icon_btn {
    position: relative;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #828bb2;
    border-radius: 50%;
    display: inline-block;
    color: #fff;

    @include transition();
    margin-right: 10px;
    z-index: 1;
    &:after {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        @extend .gradient-bg;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }

    &:hover {
        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.product_description_area .nav.nav-tabs li:last-child {
    margin-right: 0px;
    @media (max-width: 441px) {
        margin-top: 15px;
    }
}

.section_gap_bottom {
    padding-bottom: 120px;
    margin-top: 60px;
}

.section-title {
    margin-bottom: 50px;
}

.single-related-product .desc {
    margin: 10px 0px 30px 15px;
}

.cart_area {
    padding-top: 100px;
    padding-bottom: 100px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
table {
    border-collapse: collapse;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
}

.cart_inner .table tbody tr td {
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
    align-self: center;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.cart_inner .table tbody tr td .media .media-body {
    vertical-align: middle;
    align-self: center;
}

.cart_inner .table thead tr th {
    border-top: 0px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #777777;
    border-bottom: 0px !important;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
}

.cart_inner .table tbody tr td .media .d-flex {
    padding-right: 30px;
}

.cart_inner .table tbody tr.bottom_button .gray_btn {
    line-height: 38px;
    background: #e8f0f2;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 0px 40px;
    display: inline-block;
    color: #222222;
    text-transform: uppercase;
    font-weight: 500;
}

.cart_inner .table tbody tr.bottom_button td .cupon_text {
    margin-left: -446px;
}

.section_gap {
    padding: 100px 0;
}

.check_title h2 {
    font-size: 14px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    background: #e8f0f2;
    line-height: 40px !important;
    padding-left: 30px;
    margin-bottom: 0px;
}

.returning_customer p {
    margin-top: 15px;
    padding-left: 30px;
    margin-bottom: 25px;
}

.returning_customer .contact_form {
    max-width: 710px;
    margin-left: 15px;
}

.returning_customer .contact_form .form-group {
    margin-bottom: 20px;
}

.p_star {
    display: inline-block;
    position: relative;
}

.contact_form .form-group .form-control {
    font-size: 13px;
    line-height: 26px;
    color: #999;
    border: 1px solid #eeeeee;
    font-family: "Roboto", sans-serif;
    border-radius: 0px;
    padding-left: 20px;
}

.p_star .placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    z-index: 1;
}

.returning_customer .contact_form .form-group input {
    border: 1px solid #eeeeee;
    height: 40px;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    font-weight: normal;
}

.returning_customer .contact_form .form-group .primary-btn {
    line-height: 38px;
    padding: 0px 38px;
    text-transform: uppercase;
    margin-right: 10px;
    border-radius: 2px;
    border: none;
}

.contact_form .primary-btn {
    background: #ffba00;
    color: #fff;
    margin-top: 20px;
    border: none;
    border-radius: 0;
}

.returning_customer .contact_form .form-group .creat_account {
    display: inline-block;
    margin-left: 15px;
}

.returning_customer .contact_form .form-group .creat_account input {
    height: auto;
    margin-right: 10px;
}
.billing_details .contact_form .form-group {
    margin-bottom: 20px;
}

.check_title h2 {
    font-size: 14px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    background: #e8f0f2;
    line-height: 40px !important;
    padding-left: 30px;
    margin-bottom: 0px;
}

.cupon_area input {
    margin-left: 30px;
    max-width: 730px;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 3px;
    padding: 0px 15px;
    border: 1px solid #eeeeee;
    outline: none;
    box-shadow: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cupon_area .tp_btn {
    margin-left: 30px;
}

.tp_btn {
    border: 1px solid #eeeeee;
    display: inline-block;
    line-height: 38px;
    padding: 0px 40px;
    color: #222222;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-radius: 3px;
}

.billing_details h3 {
    font-size: 18px;
    color: #222222;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.cupon_area {
    margin-bottom: 40px;
}

.p_star .placeholder::before {
    content: attr(data-placeholder);
    color: #777;
}

.contact_form .form-group textarea.form-control {
    height: 134px;
}

.billing_details .contact_form .form-group textarea {
    height: 150px;
    border-radius: 3px;
    margin-top: 15px;
}

.order_box {
    background: #e5ecee;
    padding: 30px;
}

.order_box h2 {
    border-bottom: 1px solid #dddddd;
    font-size: 18px;
    font-weight: 500;
    color: #222222;
    padding-bottom: 15px;
}

.order_box .list li a {
    font-size: 14px;
    color: #777777;
    font-weight: normal;
    border-bottom: 1px solid #eeeeee;
    display: block;
    line-height: 42px;
}

.order_box .list li a span {
    float: right;
}

.order_box .list_2 li a {
    text-transform: uppercase;
    color: #222222;
    font-weight: 500;
}

.radion_btn label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 0px 25px 21px 25px;
    height: 14px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #222222;
    font-size: 13px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

.radion_btn {
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
}

.radion_btn .check {
    display: block;
    position: absolute;
    border: 1px solid #cdcdcd;
    border-radius: 100%;
    height: 14px;
    width: 14px;
    top: 5px;
    left: 0px;
    background: #fff;
    z-index: 5;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
}

.order_box .creat_account label {
    padding-left: 10px;
    font-size: 15px;
    color: #222222;
}

.order_box .creat_account a {
    color: #c5322d;
}

.radion_btn input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.radion_btn input[type="radio"]:checked ~ .check {
    border: 1px solid #ffba00;
    background: #ffba00;
}

.order_box .payment_item p {
    background: #fff;
    padding: 20px;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.order_box .primary-btn {
    display: block;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
}

.order_box .creat_account {
    margin-bottom: 15px;
}

.primary-btn {
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    color: #ffffff;
}

.returning_customer .contact_form .form-group .lost_pass {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    font-weight: normal;
}

#paypalBtn {
    height: 60px;
    border: 1px #ddd solid;
    border-radius: 10px;
    background: white;
}

#paypalBtn:hover {
    border: 3px #ccc solid;
    cursor: pointer;
}

.selectedPayBtn {
    border: 3px green solid;
    border-radius: 10px;
}

#fedapayBtn {
    height: 60px;
    border: 1px #ddd solid;
    border-radius: 10px;
    background: white;
}

#fedapayBtn:hover {
    border: 3px #ccc solid;
    cursor: pointer;
}

#btn_payer:hover {
    border: 3px #ccc solid;
    cursor: pointer;
    color: white;
}

.erreur_choix {
    color: red;
    font-size: large;
    text-align: center;
}

.bg {
    background: rgba(0, 0, 0, 0.5);
    /*height: 100vh;*/
    position: relative;
    margin: auto;
}
.bg-up {
    background-image: url("../img/carousel-1.jpg");
    height: 100vh;
}
